.venv
.vscode
.pdm-python
__pycache__
.ruff_cache
.mypy_cache
data/raw/**/*.txt
data/raw/*.parq
*.parquet
data/processed/*.csv
data/processed/*.parq
*.log
*.pptx
.DS_Store
*.egg-info
*reference.json
.lycheecache
.notebookcache
